header {
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header_social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    margin-top: 1rem;
    left: 0;
}

.img_des {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.head_description {
    display: flex;
    width: 500px;
    padding-left: 80px;
    padding-top: 90px;
}

.header_social::after {
    content: '';
    width: 2rem;
    height: 1px;
    background: var(--color-primary);
}

.header_social::before {
    content: '';
    width: 2rem;
    height: 1px;
    background: var(--color-primary);
}


/* Mobile device */
@media screen and (max-width:600px) {

    .header_social .scroll-down {
        display: none;
    }
}